---
layout: page
title: Forecasting
subtitle: We forecast infectious disease outbreaks
use-site-title: true
---


Welcome to outbreakforecasting we produce forecasts of ongoing infectious diease outbreaks in real-time.

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
